*{
padding: 0;
margin: 0;
box-sizing: border-box;
/* font-family: 'Gilroy'; */
}

html,body{
width: 100%;
height: 100%;
}
body{
    display: flex;
    justify-content:center;
    align-items:center;
}

#main{
    width: 1000px;
    height: 600px;
    background-color: aqua;
}
#topDiv{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 128, 19, 0.532);
}
#topDiv h1{
    text-align: center;
    font-size: 50px;
}
#secondDiv{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    display: flex;
}

.navDiv{
    width: 200px;
    height: 100%;
    text-align: center;
}
.navDivLeft{
    width: 100%;
    height: 42px;
    text-align: center;
}

#first{
    background-color: lightcoral;
}
#second{
    background-color:dimgray ;
}
#third{
    background-color:firebrick ;
}
#forth{
    background-color:forestgreen ;
}
#fifth{
    background-color:mediumaquamarine ;
}


#centerDiv{
    width: 100%;
    height: 210px;
    display: flex;
    background-color: chartreuse;
}

#leftDiv{
    width: 30%;
    height: 100%;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
}
#rightDiv{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
#rightDiv h1{
    font-size: 50px;
}
#thirdLastDiv{
    width: 100%;
    height: 60px;
    background-color: palevioletred;
    display: flex;
    justify-content:center;
    align-items:center;
    
}

#secondLastDiv{
    width: 100%;
    height: 120px;
    display: flex;
    background-color: chocolate;
}
.navThird{
    width: 333.34px;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}
#one{
    background-color: rgba(0, 0, 255, 0.326);
}
#two{
    background-color: rgba(45, 55, 255);
}

#lastDiv{
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    display: flex;
    justify-content:center;
    /* align-items:center; */
    letter-spacing: 5px;
}